$padWidth: 100px;
$padHeight: 80px;
@import
url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    font-family: Audiowide;
    user-select: none;
    background-image: url(../images/back1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#root{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container{
    width: 660px;
    text-align: center;
    background-image: url(../images/back4.jpg);
    border-radius: 10px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-position-y: 65px;
    margin: 0px auto;
    
    .pad-bank{
        width: $padWidth*3+32;
        height: $padHeight*3+32;
        display: inline-block;
        margin: 20px;

        .drum-pad{
            position: relative;
            float: left;
            width: $padWidth;
            height: $padHeight;
            margin-right: 10px;
            padding-top: 35px;
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            color: white;
            text-shadow: 5px 5px 5px;
        }
    }

    .controls-container{
        width: 270px;
        height: $padHeight*1.5+32;
        display: inline-block;
        margin: 0px 20px 0 10px;
        vertical-align: top;

        .control{
            width: 100px;
            margin: 15px auto;
            display: inline-block;
            
            p{
                margin-bottom: 0;
            }

            .select {
                margin:auto;
                @extend .outer-select;
                .inner {
                    @extend .inner-select;
                }
            }
        }


        #display{
            width: 150px;
            background:linear-gradient(90deg, rgba(95, 0, 0, 0.603) 0%, rgba(0,0,0,1) 100%);
            margin: 15px auto 15px 10px;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 20px;
            color: white;
            text-shadow: 5px 5px 10px white;
            box-shadow: 5px 5px 5px black;
        }
    }
}

.control{
    width: 100px;
    margin: 15px auto;
    float: right;

    p{
        margin-bottom: 0;
        margin-top: 0;
        color: white;
        text-shadow:7px 5px 3px rgb(12, 14, 2);
    }

    .select {
        margin:auto;
        @extend .outer-select;
        .inner {
            @extend .inner-select;
        }
    }
}

.outer-select {
    width: 40px;
    height: 20px;
    background:linear-gradient(90deg, rgba(95, 0, 0, 0.603) 0%, rgba(0,0,0,1) 100%);
    background-position: center;
    background-size: initial;
    border: 1px solid rgb(10, 2, 2);   
    border-radius: 50px;
    box-shadow: 3px 3px 5px black;
}

.inner-select {
    width: 20px;
    height: 20px;
    background-image: url(../images/metal05.jpg);
    border-radius: 50px;
    border: 1px solid rgb(58, 57, 57);
}

.volumetext{
    margin-top: 0px;
    color: white;
    text-shadow: 5px 5px 10px white;
}

.volume-slider{
    margin-bottom: 0px;
    margin-right: 100px;
}

::-webkit-slider-runnable-track{
    height: 11px;
    background-color: rgb(82, 82, 82);
}

.logo{
    height: 50px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-flex;
}

.title{
    color: white;
    font-size: 25px;
    text-shadow: 5px 5px 10px white;
    
}

/*ScrollBar*/
::-webkit-scrollbar-corner {
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #2c2b2b;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #990202;
    border-radius: 20px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    width: 10px;
    background: red;
    border-radius: 20px;
}



@media screen and(max-width: 625px){
    .inner-container{
        background-position-y: 118px;
        width: 95%;
    }

}

@media screen and(max-width: 400px){
   

    .pad-bank{
        width: 95% !important;
        height: fit-content;
        margin: 0 auto !important;

        .drum-pad{
            width: 30% !important;
            height: 30%;
            margin-right: 5px!important;
            margin-left: 5px!important;
        }
    }

}

@media screen and(max-width: 325px){
   
    .inner-container{
        width: 100%;
        margin-left: 0px !important;
    }

    .pad-bank{
        width: 95% !important;
        height: fit-content;
        margin: 0 auto !important;

        .drum-pad{
            width: 31% !important;
            height: 30%;
            margin-right: 3px!important;
            margin-left: 2px!important;
        }
    }

    .controls-container{
        display: flex !important;
        flex-direction: column!important;
        justify-content: center !important;
        align-items: center !important;
    }

    .control{
        float: left;
    }

    .bank{
        position: relative;
        top: -43px !important;
        right: -55px !important;
    }

    #display{
        position: relative;
        width: 80% !important;
        left: -5px !important;
        top: -40px !important;
    }
    .volume-slider{
        position: relative;
        width: 80% !important;
        left: 35px !important;
        top: -40px !important;
    }

}